<div class="col-md-6 col-md-offset-3">
    <h2><%=@project.name%></h2>
    <p><%=@project.description%></p>

    <%= link_to "Back", root_path%>
    <%= link_to "Edit", edit_project_path%>
    <%= link_to "New", new_project_path%>
</div>